{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
    <v-col cols="3">
        <div class="text-center text-h4 mb-5">Please sign in</div>
        <v-form ref="form" method="post" ref="form">
            {% csrf_token %}
            <v-text-field
                    id="id_username"
                    name="username"
                    label="Username"
                    :rules="nameRules"
                    outlined
                    required>
            </v-text-field>
            {% if form.username.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.username.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <v-text-field
                    id="id_first_name"
                    name="first_name"
                    label="First name"
                    :rules="[rules.required]"
                    outlined
                    required>
            </v-text-field>
            {% if form.first_name.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.first_name.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <v-text-field
                    id="id_last_name"
                    name="last_name"
                    label="Last name"
                    :rules="[rules.required]"
                    outlined
                    required>
            </v-text-field>
            {% if form.username.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.username.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <v-text-field
                    id="id_email"
                    type="email"
                    name="email"
                    label="Email"
                    :rules="emailRules"
                    required
                    outlined>

            </v-text-field>
            {% if form.email.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.email.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <v-text-field
                    id="id_password1"
                    type="password"
                    name="password1"
                    label="Password"
                    ref="password"
                    required
                    outlined
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
            ></v-text-field>
            {% if form.password1.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.password1.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <v-text-field
                    id="id_password2"
                    type="password"
                    name="password2"
                    label="Password confirmation"
                    required
                    outlined
                    v-model="password2"
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min, rules.checkSamePasswords]"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
            ></v-text-field>
            {% if form.password2.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -25px">
                    <div class="v-messages__wrapper">
                        {% for error in form.password2.errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="v-messages theme--light error--text mb-4 font-weight-bold" role="alert"
                     style="margin-top: -10px">
                    <div class="v-messages__wrapper">
                        {% for error in form.non_field_errors %}
                            <div class="v-messages__message message-transition-enter-to">{{ error|escape }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <v-btn color="success darken-2"
                   dark
                   min-width="100%"
                   large
                   type="submit"
                   class="mt-2">
                Registration
            </v-btn>
        </v-form>
        <div class="mt-5 mb-3 text--secondary text-center">&copy; Contacts DataBase 2020</div>
    </v-col>


{% endblock %}

{% block js %}
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}